* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p, li{
    font-size: 18px;
    color: #EFE7EB;
    font-weight: 300;
}


li {
    list-style-type: none;
    padding-left: 0;
}

button {
    font-size: 18px;
    font-weight: 400;
    padding: 12px 16px;
    min-width: 160px;
    border-radius: 12px;
}

.top{
    background-color: #1F2937;
    padding-top: 16px;
    padding-bottom: 32px;
}

/* nav */

.header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    max-width: 1200px;
}

.logo {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 24px;
}

/* hero */

.hero {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 16px;
    max-width: 1200px;
}

.hero-title {
    padding-bottom: 12px;
    max-width: 400px;
}

.hero-body {
    padding-bottom: 24px;
    max-width: 400px;
}

.hero-image {
    border-radius: 16px;
    height: 280px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border: none;
}

/*information section*/

.info-header{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 32px;
}

.secondary{
    color: #1F2937;
    text-align: center;
}

.props {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 80px;
}

.props-image{
    height: 140px;
    width: 140px;
    border-radius: 12px;
    object-fit: cover;
    border: 2px solid #3882F6;
}

.shiba, .corgi, .westie{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 200px;
}

/*quote section*/

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 80px;
    background-color: #E5E7EB;
}

.quote-text{
    color: #1f2937;
    font-weight: light;
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    padding-bottom: 16px;
}

.person{
    color: #1f2937;
    font-weight: 900;
    font-size: 28px;
    text-align: right;
}

/*footer CTA*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.footer-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    max-width: 1008px;
    width: 100%;
    padding: 64px 96px;
    border-radius: 24px;
    gap: 16px;
}

.footer-header{
    color:#FFFFFF;
    padding-bottom: 8px;
}

.footer-cta{
    background: transparent;
    color: white;
    border: 2px solid white;
}